// out: ../css/estilo.css

@font-face{
    font-family: "Montserrat Light";
    src: url("../fonts/Montserrat-Light.ttf") format("truetype");
}
@font-face{
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
}
@font-face{
    font-family: "Montserrat Bold";
    src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
}
@font-face{
    font-family: "Titillium Web";
    src: url("../fonts/TitilliumWeb-Regular.ttf") format("truetype");
}
@font-face{
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}
@font-face{
    font-family: "OpenSans Bold";
    src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
}

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}
.embed-responsive-4by3 {
  padding-bottom: 75%;
}

@import "variables.less";
@import "navbar.less";
@import "slider.less"; //preencher
@import "links-externos.less";
@import "modulo-cadastro.less";
@import "numeros-voluntarios.less"; //preencher
@import "projetos.less";
@import "videos-depoimentos.less";
@import "cards.less";
@import "listagem.less";
@import "rodape.less";

body{
  background: @white;
}
.btn{
  border-radius: 10px;
  font-family:"Montserrat", sans-serif;
  font-size: 16px;
}
.btn-su{
  color: @white;
  background-color: @success;
  border-color: @success;

  &:hover{
    color: @white;
    background-color: @deep-success;
  }
}
.btn-pr{
  color: @white;
  background-color: @primary;
  border-color: @primary;

  &:hover{
    color: @white;
    background-color: @deep-primary;
  }
}
.btn-in{
  color: @white;
  background-color: @info;
  border-color: @info;

  &:hover{
    color: @white;
    background-color: @deep-info;
  }
}
.btn-av{
  color: @white;
  background-color: @warning;
  border-color: @warning;

  &:hover{
    color: @white;
    background-color: @deep-warning;
  }
}
.btn-at{
  color: @white;
  background-color: @attention;
  border-color: @attention;

  &:hover{
    color: @white;
    background-color: @deep-attention;
  }
}
.btn-pe{
  color: @white;
  background-color: @danger;
  border-color: @danger;

  &:hover{
    color: @white;
    background-color: @deep-danger;
  }
}
.btn-full{
  width: 100%;
  height: 60px;
}
