// main: estilo.less

.nav-voluntariado
{
    background-color: @white;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    min-height: 80px;
    width: 100%;
}

#menu-institucional{
    background: @black;
    border-radius: 0px;
    min-height: 30px;
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 0;
    a{
      color: @gray !important;
      padding-top: 4px;
      padding-left: 15px;
      padding-right: 30px;
      padding-bottom: 0px;

      &:hover{
        background-color: transparent !important;
        color: @white !important;
      }
    }
}
#menu-principal{
  border-bottom: 4px solid @success;
}
.navbar-header{
}
.navbar-brand{
  height: auto;
  padding: 0px 15px;
  img{
    height: 50px;
  }
}

h1{
  &.page-title{
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    color: @success;
    font-size: 15px;
    margin-top: 0px;
    margin-left: 18px;
    display: inline-block;
  }
}
.navbar-default{
  .navbar-nav{
    &.menu{
      >li{
        font-family: "Montserrat";
        font-size: 15px;
        color: @deep-black;
        >a{
          color: @deep-black;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
    &.menu-botoes{
      margin-top: 0;
      margin-bottom: 30px;
      margin-left: 15px;
      margin-right: 15px;
    }
  }
}

.navbar-toggle {
  position: relative;
  float: right;
  margin-top: 19px;
  margin-bottom: 19px;
  padding: 10px;
  background-color: @attention;
  background-image: none;
  border: 2px solid @attention !important;
  border-radius: 4px;
  &:focus {
    outline: 0;
  }
  &:hover,
  &:focus {
    background-color: @deep-attention !important;
  }
  // Bars
  .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: @white !important;
  }
  .icon-bar + .icon-bar {
    margin-top: 4px;
  }
}

.header-button{
  padding-top: 6px;

  .btn{
    width: 100%;
    height: 38px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    margin-right: 5px;
    padding-top: 7px !important;
    padding-bottom: 7px !important;
    font-size: 14px;
  }
}
.btn-certificado{
  border: solid 2px @attention;
  color: @attention !important;
  &:hover{
    border: solid 2px @deep-attention;
    color: @deep-attention !important;
  }
}
.btn-login{
  border: solid 2px @success;
  color: @success !important;
  &:hover{
    border: solid 2px @deep-success;
    color: @deep-success !important;
  }
}
.btn-cadastro{
  background-color: @success !important;
  color: @white !important;
  &:hover{
    background-color: @deep-success !important;
    color: @white !important;
  }
}

//single-page-menu
.sp-menu{
  padding: 8px 0;
  margin-bottom: 0px;
  list-style: none;
  background-color: @info;
  font-family: "Montserrat Bold", sans-serif;
  border-bottom: 4px solid @deep-info;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  li{
    display: inline;
    &:first-child{
      margin-left: -15px;
    }
    &:last-child{
      margin-right: -15px;
    }
    a{
      margin: 0px 15px;
      color: @white;
    }
    span{
      color: @white;
    }
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
  .navbar-header{
    width: 100%;
    display: block;
  }
  .navbar-brand{
    padding: 5px 15px;
    margin-left: 10px;
    img{
      height: auto;
    }
  }
  .sp-menu{
    padding: 8px 15px;
    li{
      display: inline-block;
      &:first-child{
        margin-left: 15px;
      }
      a{
        margin: 0px 15px;
      }
    }
  }
  h1{
    &.page-title{
      font-size: 24px;
      margin-top: 30px;
      margin-left: 0px;
      display: block;
    }
  }
  .header-button{
    margin-left: 5px;
  }
  .navbar-default{
    .navbar-nav{
      &.menu{
      }
      &.menu-botoes{
        margin-top: -44px;
        margin-bottom: 0;
      }
    }
  }
  #menu-principal{
    border-bottom: 0;
  }
}
