// main: estilo.less

#numeros-voluntariados{
    background: @attention;
    padding-bottom: 60px;
    padding-top: 60px;
    text-align: center;
    img{
      width: 42;
      height: 42px;
    }
}
.box-numeros{
  margin-top: 30px;
  margin-bottom: 30px;
}
.valor{
    color: @white;
    font-family: "Montserrat Bold" !important;
    font-size: 45px;
    display: block;

    &.inverse{
      color: @attention;
    }
    &.bigger{
      font-size: 40pt;
      margin-bottom: 5px;
    }
}
.titulo{
    color: @white;
    font-family: "Montserrat";
    font-size: 18px;
    &.inverse{
      color: @attention;
    }
}
#horas_de_trabalho_voluntario{
    background-color: @white-two;
    margin-bottom: 10px;
    padding: 40px;
    text-align: center;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner,
.odometer.odometer-theme-default .odometer-digit .odometer-digit-inner {
  width: 50px;
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
  .box-numeros{
    margin-top: 0;
    margin-bottom: 0;
  }
  .valor{
    &.bigger{
      font-size: 55pt;
    }
  }
}
