// main: estilo.less
.modulo{
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: @white;
}


.modulo-titulo{
  font-family: "Titillium Web";
  font-size: 35px;
  text-align: center;
  text-transform: uppercase;
  color: @black;
  margin-top: 0;
  margin-bottom: 15px;
}

.modulo-fade{
  background-color: @white-three;
}
// Módulos de duas cores de fundo
.modulo-dc-pr{
    background: @primary;
}
.modulo-dc-su{
    background: @success;
}
.modulo-dc-in{
    background: @info;
}
.modulo-dc-av{
    background: @warning;
}
.modulo-dc-at{
    background: @attention;
}
.modulo-dc-pe{
    background: @danger;
}

.modulo-dc-pr,
.modulo-dc-su,
.modulo-dc-in,
.modulo-dc-av,
.modulo-dc-at,
.modulo-dc-pe{
  .modulo-titulo{
    color: @white;
  }
}

.nav{
  &.nav-tabs{
    background-color: rgba(0, 0, 0, 0.2);
    border: 0;
    padding-bottom: 15px;
    >li{
      width: 100%;
      text-align: center;
      a{
        border: 0;
        font-family: "Montserrat", sans-serif;
        color: @white;
        &:focus,
        &:hover{
          border: 0;
          color: @white;
          background: none;
        }
        &:hover{
          text-decoration: underline;
        }
      }
      &.active{
        a{
          background-color: rgba(0, 0, 0, 0.2);
          font-size: 16px;
          border: 0;
          &:focus,
          &:hover{
            border: 0;
            color: @white;
          }
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.tab-content{
    background: rgba(0, 0, 0, 0.2);

    margin-bottom: 15px;

    .tab-pane{
      padding-bottom: 15px;
      .modulo-pesquisa{
        label{
          color: @white;
        }
        .form-group{
          margin-bottom: 0px;
        }
        .btn{
          font-size: 14px;
        }
      }
      .modulo-selecao{
        margin-top: 10px;
        margin-bottom: 5px;
      }
    }
}

.btn-plus{
  font-family: "OpenSans Bold", sans-serif;
  color: @deep-black;
  text-transform: uppercase;
  font-size: 16px;

  &:focus,
  &:hover{
    color: @deep-black;
    cursor: pointer;
  }
}
.btn-plus-icon{
  font-size:21px;
  color: @white;
  background-color: @deep-black;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 17px;
  text-align: center;
  display: block;
  float: left;
  margin-right: 10px;
  background-image: url("../images/btn-plus-default.svg");
  background-repeat: no-repeat;
  background-position: center center;

  &.btn-plus-icon-su{
    background-color: @success;
    background-image: url("../images/btn-plus-success.svg");
  }
  &.btn-plus-icon-su{
    background-color: @info;
    background-image: url("../images/btn-plus-info.svg");
  }
  &.btn-plus-icon-su{
    background-color: @attention;
    background-image: url("../images/btn-plus-attention.svg");
  }
  &.btn-plus-icon-su{
    background-color: @warning;
    background-image: url("../images/btn-plus-warning.svg");
  }
  &.btn-plus-icon-su{
    background-color: @primary;
    background-image: url("../images/btn-plus-primary.svg");
  }
  &.btn-plus-icon-su{
    background-color: @danger;
    background-image: url("../images/btn-plus-danger.svg");
  }
}
.modulo-item{
  background-color: @white;
  border-radius: 4px;
  border: 1px solid @gray;
  margin-bottom: 30px;

  >a{
    >.image{
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      height: 200px;
    }
  }
  >.conteudo{
    padding: 20px;
    >.titulo{
      font-family: "Montserrat Bold", sans-serif;
      text-transform: uppercase;
      color: @black;
      min-height: 57px;
      &.maior{
        min-height: 76px;
      }
    }
    >.responsavel{
      font-family: "Montserrat", sans-serif;
      color: @success;
      display: block;
      margin-bottom: 10px;
      min-height: 60px;
    }
    >.descricao{
      font-family: "OpenSans";
      display: block;
      text-align: justify;
      margin-bottom: 10px;
      min-height: 80px;
    }
    .oportunidades,
    .meta-doacoes,
    .detalhes{
      color: @primary;
      font-family: Montserrat;
      min-height: 38px;
      display: inline-block;
    }
  }
  .btn-full{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

#mapa-organizacoes,
#qualifica-brasilia{
  .texto{
    font-family: "Titillium Web";
    font-size: 23px;
    display: block;
    color: @black;
    margin-bottom: 20px;
  }
  .btn-large{
    padding: 10px 30px;

  }
}
.marca-qualifica-brasilia{
  position: relative;
  text-align: right;
  width: 33.333333%;
  float: left;

  img,
  button{
    position: absolute;
  }
  img{
    margin-top: 40px;
    right: 0;
  }
  button{
    margin-top: 155px;
    right: 15px;
  }
}
.btn-qualifica-brasilia{
  width: 100%;
  float: left;
  button{
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}
.conteudo-qualifica-brasilia{
  width: 66.666666%;
  float: right;
}
#qualifica-brasilia{
  .texto{
    font-size: 20px;
  }
}
#mapa-organizacoes{
  .btn{
    background-color: rgb(232, 21, 124);
    border-color: darken(rgb(232, 21, 124), 5%);
    color: @white;
  }
}
hr{
  width: 80%;
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
  .nav{
    &.nav-tabs{
      padding-bottom: 0;
      background: none;
      >li{
        width: auto;
        text-align: left;
      }
    }
  }
  .tab-content{
    margin-top: 1px;
      .tab-pane{
        height: 92px;
        .modulo-pesquisa{
          margin-top: 10px;
        }
        .modulo-selecao{
          margin-top: 35px;
          margin-bottom: 20px;
        }
      }
  }
  .marca-qualifica-brasilia{
    position: relative;
    text-align: right;
    width: 33.333333%;
    float: left;
    img{
      position: absolute;
      margin-top: 0px;
      right: 0;
    }
  }
  .btn-qualifica-brasilia{
    position: relative;
    text-align: right;
    width: 33.333333%;
    float: left;
    margin-top: 115px;
    right: 15px;
    button{
      display: inline;
    }
  }
  .conteudo-qualifica-brasilia{
    width: 66.666666%;
    float: right;
  }

  #mapa-organizacoes,
  #qualifica-brasilia{
    .texto{
      font-size: 30px;
    }
  }
  // Módulos de duas cores de fundo
  .modulo-dc-pr{
      background: linear-gradient(@primary 50%, @white-three 50%);
  }
  .modulo-dc-su{
      background: linear-gradient(@success 50%, @white-three 50%);
  }
  .modulo-dc-in{
      background: linear-gradient(@info 50%, @white-three 50%);
  }
  .modulo-dc-av{
      background: linear-gradient(@warning 50%, @white-three 50%);
  }
  .modulo-dc-at{
      background: linear-gradient(@attention 50%, @white-three 50%);
  }
  .modulo-dc-pe{
      background: linear-gradient(@danger 50%, @white-three 50%);
  }

  .modulo-item{
    >.conteudo{
      >.titulo{
        min-height: 76px;
        &.maior{
          min-height: 95px;
        }
      }
      >.responsavel{
        min-height: 80px;
      }
      >.descricao{
        min-height: 100px;
      }
      .oportunidades,
      .meta-doacoes,
      .detalhes{
        min-height: 60px;
      }
    }
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {
  .modulo-item{
    >.conteudo{
      >.titulo{
        min-height: 57px;
        &.maior{
          min-height: 76px;
        }
      }
      >.responsavel{
        min-height: 60px;
      }
      >.descricao{
        min-height: 80px;
      }
      .oportunidades,
      .meta-doacoes,
      .detalhes{
        min-height: 38px;
      }
    }
  }
}
