// main: estilo.less
footer{
  background: @faded-success;
  color: @white;

  padding-top: 20px;
  padding-bottom: 20px;
}
.site-titulo{
  font-family: "Titillium Web";
  font-size: 35px;
  float: left;
  // background-color: magenta;
}
.redes-sociais{
  // background-color: cyan;
  text-align: right;
  float: right;
  a{
    img{
      width: 40px;
      height: 40px;
      margin-bottom: 7px;
      margin-top: 7px;
    }
  }
}
.site-titulo,
.redes-sociais{
  width: 50%;
  display: inline;
  height: 54px;
}

.links-sistema{
  margin-left: -14px;
  margin-right: -14px;
  a{
    color: @white;
    font-family: "OpenSans";
    padding-left: 14px;
    padding-right: 14px;
    &:hover{
      text-decoration: underline;
    }
  }
}
.marca-bsb-cidada{
  img{
    height: 80px;
  }
}
.marca-gdf{
  padding-top: 8px;
  padding-bottom: 8px;
}
