// main: estilo.less
#video-depoimentos{
  position: relative;
}
.modulo-video{
  margin-bottom: 30px;
}

.modulo-depoimento{
  .carousel-indicators{
    position: absolute;
    bottom: -40px;
    >li {

      border: 1px solid @attention;
      &.active{
        background-color: @attention;
      }
    }
  }
}
.dep-item{
  text-align: center;

  img{
    height: 80px;
    width: 80px;
    border: 2px solid @white;
    margin-bottom: 20px;
  }
}
.dep-box{
    border: 1px solid @gray;
    background-color: @white;
    border-radius: 10px;
    color: @faded-black;
    display: table-cell;
    font-family: Montserrat Light;
    font-size: 17px;
    font-weight: bold;
    height: 220px;
    padding: 30px;
    text-align: center;
    vertical-align: middle;
}
.dep-nome
{
    color: @attention;
    font-family: Montserrat Light;
    font-size: 17px;
    font-weight: bold;
    padding-top: 20px;
    text-transform: uppercase;
}
